
<h1 class = "text-center" style="font-weight: lighter">Welcome to Task Manager</h1>
<div class="text-center">
<div class="container">


<p><a href="/tasks"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Task Index</button></a></p>
<p><a href="/tasks/new"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> New Task</button></a></p>
</div>
</div>
