<html style="text-align: center; font-family: Helvetica; font-weight: lighter">

<form class="navbar-form navbar-left" action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input style="border: 2px solid black; border-radius: 4px;" type='text' class="form-control" placeholder="TASK NAME" name='task[title]'/><br/>
  <p><textarea  style="border: 2px solid black; border-radius: 4px;" class="form-control" placeholder="DESCRIPTION" name='task[description]'></textarea><br/><p>
  <input type='submit'/>
</form>
</html>
