


<div class = "container" style="text-align: center">
<h1 style="font-weight: lighter"><%= @task.title %></h1>

<p><%= @task.description %></p>
<a href="/tasks"><button type="button" class="btn btn-info">Back to Task Index</button></a>
</div>
